Django==5.2.6
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-filter==25.1
django-debug-toolbar==6.0.0
django-redis==6.0.0
djoser==2.3.3
drf-nested-routers==0.94.2
psycopg2-binary==2.9.9
gunicorn==23.0.0
whitenoise==6.9.0
python-dotenv==1.1.1
redis==6.4.0
requests==2.32.5
social-auth-app-django==5.5.1
